<div id="grad2">
        <header>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
              </header>    
    <br>
              <h1>Relevant Courses</h1>
    <br>
        <table>
                <tr>
                    <th>Course Name</th>
                    <th>Semester</th> 
                    <th>Grade</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <!--EECS 141-->
                    <td>Introduction to Digital Logic Design (Honors)</td>
                    <td>Fall 2018</td> 
                    <td>A</td>
                    <td>An introductory honors course in digital logic circuits, Boolean, and programmable logic devices
                    </td>
                </tr>
                <tr>
                    <!--HNRS 190-->
                    <td>First Year Honors Seminar: (A Just Machine)</td>
                    <td>Fall 2018</td> 
                    <td>A</td>
                    <td>A seminar about the historical overview of Computational Science and Finite State Machines
                    </td>
                </tr>
                <tr>
                    <!--EECS 168-->
                    <td>Programming I</td>
                    <td>Spring 2019</td> 
                    <td>A</td>
                    <td>An introductory course in object-oriented programming using the language C++
                    </td>
                </tr>
                <tr>
                    <!--EECS 268-->
                    <td>Programming II</td>
                    <td>Fall 2019</td> 
                    <td>B</td>
                    <td>A course in data strucutres (lists, queues, stacks, and trees), recursion, and algortithmic efficiency and performance analysis </td>
                </tr>
                <tr>
                    <!--EECS 210-->
                    <td>Discrete Structures</td>
                    <td>Spring 2020</td> 
                    <td>A</td>
                    <td>A course in mathematical foundations including logic, sets and functions, general proof techniques, mathematical induction, sequences and summations, number theory, basic and advanced counting techniques, solution of recurrence relations, equivalence relations, partial order relations, lattices, graphs and trees, algorithmic complexity, and algorithm design and analysis</td>
                </tr>
                <tr>
                    <!--EECS 368-->
                    <td>Programming Language Paradigms</td>
                    <td>Spring 2020</td> 
                    <td>A</td>
                    <td>A course that focuses on the two programmig languages JavaScript and Haskell and their atrributes, uses, advantages, and disadvantages</td>
                </tr>
                <tr>
                    <!--EECS 388-->
                    <td>Embedded Systems</td>
                    <td>Spring 2020</td> 
                    <td>A</td>
                    <td>A course of the organization of embedded systems, input and output systems, collecting data from sensors, and controlling external devices</td>
                </tr>
                <tr>
                    <!--ECON 142-->
                    <td>Principles of Microeconomics</td>
                    <td>Fall 2018</td> 
                    <td>A</td>
                    <td>An analytical introduction over microeconomic concepts: theory of markets, public policy, international trade, economic efficiency, and equity</td>
                </tr>
                <tr>
                    <!--ECON 144-->
                    <td>Principles of Macroeconomics</td>
                    <td>Summer 2019</td> 
                    <td>A</td>
                    <td>An analytical introduction to macroeconomics concepts: determination of aggregate income, employment, inflation, exchange rates, and the role of fiscal and monetary policy, unemployment, inflation, and economic growth</td>
                </tr>
                <tr>
                    <!--ECON 520-->
                    <td>Microeconomics</td>
                    <td>Spring 2020</td> 
                    <td>A</td>
                    <td>A course that focuses on the theory of consumption, production, pricing, and resource allocation</td>
                </tr>
              </table>
<br>
<h1>Skills</h1>
<br>
<div class= "container">
    <div class= "left">
        <div class= "skill">
            <h2>Technical Skills</h2>
                <ul>
                    <li>C++</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Haskell</li>
                    <li>Angular Framework</li>
                    <li>Java</li>
                </ul>
        </div>
    </div>
    <div class= "right">
        <div class= "skill">
            <h2>Soft Skills</h2>
                <ul>
                    <li>Cooperative</li>
                    <li>Intellectually Curious</li>
                    <li>Adaptability</li>
                    <li>Ambitious</li>
                    <li>Organized</li>
                    <li>Dependability</li>
                    <li>Critical Thinking</li>
                </ul>
        </div>
    </div>
</div>
<br>
<h1>Achievements</h1>
<br>
<div class="achievements">
    <table>
        <tr>
            <th>Year(s)</th>
            <th>Award</th>
        </tr>
        <tr>
            <td>2018</td>
            <td>Eagle Scout</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>Bronze Palm</td>
        </tr>
        <tr>
            <td>2018</td>
            <td>Brett Anderson Memorial Scholar</td>
        </tr>
        <tr>
            <td>2018, 2019</td>
            <td>Paul & Virginia B Miller EECS Scholar</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>Carl Pingry Engineering Scholar</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>Garmin Excellence Scholar</td>
        </tr>
        <tr>
            <td>2018, 2019, 2020</td>
            <td>KU Excellence</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>Univerisity of Kansas' Honor Roll</td>
        </tr>
    </table>
</div>
    <br>
</div>