/*Background*/
#grad1{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(179, 205, 218));
}

/*Header*/
h1{
  margin: 0px;  
  text-align:center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Form Design*/
.label {
  font-size: 24px;
  color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid rgb(28, 72, 138);
  box-sizing: border-box;
}
div{
  text-align: center;
}

/*Button Design*/
button {
  margin-right: 45%;
  margin-left: 45%;
  width: 10%;
  border: 2px solid black;
  color: white;
  background: linear-gradient(to right, rgb(28, 72, 138), rgb(215, 234, 243));
  padding: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}
button:hover {
  opacity: 0.8;
  background: rgb(28, 72, 138);
}