<div id="grad1">
  <header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </header>    
  <h3>Contact Me</h3>
  <div>
    <label class="label">Name: </label>
    <input type="text" name="name" width="100%" required>
  </div>
  <div>
    <label class="label">Email: </label>
    <input type="text" name="Email" width="100%" required>
  </div>
  <button>Submit</button>
</div>
