#grad1{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(179, 205, 218));
}
.label {
    font-size: 24px;
    color:black;
  }
  .verticalStrip {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    background-color:rgb(28, 72, 138);
    height:98.75%;
  }
  