<div class="verticalStrip"></div>
<div class="content">
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </header>
    <body>
        
        <br>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vSHRX5rUfDHV-bDahDMAUPTbVK_O1gOrcfLDkidwAOXzyH87LF0vTRHnOsWP8AIewZZfDVOIwS6W1JK/pub?embedded=true"></iframe>
     
    </body>  
</div>