#grad{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(179, 205, 218));
}
h1{
  margin:0px; 
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(11, 31, 121);
  margin-right: 300px;
  margin-left: 300px;
  border-radius: 5px;
}
h3{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.pic{
  float: left;
  width: 35%;
  padding: 20px;
}
img{
  width:400px;
  height: 300px; 
  overflow: hidden; 
  border-radius: 5%;
}
.about-me
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: left;
  width: 65%;
  padding: 20px;
  line-height: 125%;
  border: 2px solid rgb(11, 31, 121);
  border-radius: 10%;
}

.education
{
  text-align: center;
}
