<div id="grad">
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      </header>
      <br>
    <h1>Joshua Haxton</h1>
    <h3>Objective: As a computer science undergraduate, I hope to obtain an summer internship position in the Computer Science Field </h3>
    <div class="container">
            <div class="about-me">            
                My name is Joshua Haxton. I am currently an undergraduate Computer Science student at the University of Kansas from Jefferson City, MO. I am looking for a summer internship for 2021. I need to put a longer statement so i can take up more space alongside the picture that way it looks nicer
            </div>
                <img src="../assets/profilepic.jpg" class="pic"/>
    </div>
    <div class= "education">
        <h2>Education</h2>
        <p class= "school"> University of Kansas</p>
        <p class="degree"> Bachelor of Science in Computer Science<br> 
            Minor in Economics
        </p>
        <p> GPA: 3.95<br>
            Graduation: May 2022<br>
        </p>
    </div>
        <img src="../assets/lawrencecampus.jpg" class="campus"/>
        <br>
</div>